deb https://packagecloud.io/github/git-lfs/{{ansible_distribution}}/ {{ansible_distribution_release}} main
deb-src https://packagecloud.io/github/git-lfs/{{ansible_distribution}}/ {{ansible_distribution_release}} main
